.git
.venv*
**/__pycache__
**/*.pyc
.env
.env.*
!examples/.env.example
local_config.yaml
runtime
results
outputs
dataset
checkpoints
thirdparty/verl
build
dist
**/*.egg-info
**/*.dump
**/*.token
**/*.sqlite3*
